html, body{
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 12%;
    border-bottom: 2px solid #C1C1C1;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    z-index: 1;
    position: relative;
    left: 50%;
    margin-left: -46%;
    white-space: nowrap;
}
.header_navigation{
    display:flex;
    height: 100%;
    width: 50%;
    align-items: center;
    column-gap: 20px;
}
.header_navigation :nth-child(n){
    margin-left: 3%;
}
.header_navigation :first-child{
    margin-left: 0;
}
a{
    text-decoration: none;
    color:black;
}
.bl_for_header_describe{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    border-bottom: 2px solid white;
}
.header_describe{
    display:grid;
    grid-template-areas: 
    "header_describe_number header_describe_email "
    "header_describe_name header_describe_name";
    grid-row-gap:5px;
    grid-column-gap:15px;
    text-align: right;
}
.header_describe_email{
    font-size:16px;
    grid-area: header_describe_email;
}
.header_describe_number{
    font-size:16px;
    grid-area: header_describe_number;
}
.header_describe_name{
    font-size:16px;
    grid-area: header_describe_name;
}
.background{
    position: absolute;
    top:0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 12%;
    border-top: 2px solid #C1C1C1;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    z-index: 1;
    position: relative;
    left: 50%;
    margin-left: -46%;
    padding-bottom: 2%;
}
.footer_describe{
    display:flex;
    align-items:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    height: 100%;
}
.footer_geo{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;
    width: 36%;
    height: 100%;
    border-top: 2px solid white;
}
.footer_social{
    position: absolute;
    left: 50%;
    margin-left: -10%;
    height: 100%;
    width: 20%;
}
.footer_social_block_for_icon{
    width: 100%;
    height: 70%;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    column-gap:15px;
}
.footer_social_icon{
    
    height: 55%;
    width: auto;
}
.talgan19{
    margin-top:5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    
}

.production_block{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    margin-left: -46%;
    width: 92%;
    height: 100%;
    z-index: 1;
}
.production_block_leftblock, .production_block_rightblock{
display: flex;
justify-content:center;
align-items: center;
width: 50%;
height: 100%;
}
.production_block_leftblock{
display: flex;
justify-content:center;
width: 48%;
}
.production_block_rightblock{
display: flex;
justify-content: center;
align-items: center;
}

.production_block_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    
}
.production_block_picture1{
    width: 95%;
}
.production_block_picture2{
    width: 65%;
}
.production_block_picture3{
    width: 70%;
}

@media (min-width: 1900px) and (max-width: 2000px) {
    header{
        height: 9%;
        border-bottom: 3px solid #C1C1C1;
        font-size: 25px;
    }
    .header_navigation{
        column-gap: 30px;
    }
    .bl_for_header_describe{
        border-bottom: 3px solid white;
    }

    .header_describe_email, .header_describe_name, .header_describe_number{
        font-size:22px;
    }

    footer{
        height: 9%;
        border-top: 3px solid #C1C1C1;
        font-size: 22px;
    }
    .footer_describe{
        font-size: 22px;
        line-height: 32px;
    }
    .footer_geo{
        font-size: 22px;
        line-height: 32px;
        width: 31%;
        border-top: 3px solid white;
    }
    .talgan19{
        font-size: 24px;
        line-height: 28px;
    }

    .production_block_text{
        font-size: 30px;
        line-height: 65px;       
    }
    .production_block_picture1{
        width: 95%;
    }
    .production_block_picture2{
        width: 65%;
    }
    .production_block_picture3{
        width: 70%;
    }

 }
 @media (min-width: 1420px) and (max-width: 1450px) {
    header{
        height: 10%;
        border-bottom: 2px solid #C1C1C1;
        font-size: 20px;
    }
    .header_navigation{
        column-gap: 16px;
    }
    .bl_for_header_describe{
        border-bottom: 3px solid white;
    }

    .header_describe_email, .header_describe_name, .header_describe_number{
        font-size:18px;
    }

    footer{
        height: 9%;
        border-top: 3px solid #C1C1C1;
        font-size: 22px;
    }
    .footer_describe{
        font-size: 18px;
        line-height: 28px;
    }
    .footer_geo{
        font-size: 18px;
        line-height: 28px;
        width: 27%;
        border-top: 2px solid white;
    }
    .talgan19{
        font-size: 20px;
        line-height: 25px;
    }

    .production_block_text{
        font-size: 22px;
        line-height: 50px;       
    }
    .production_block_picture1{
        width: 95%;
    }
    .production_block_picture2{
        width: 65%;
    }
    .production_block_picture3{
        width: 70%;
    }
 }
 @media (min-width: 1500px) and (max-width: 1540px) {
    header{
        height: 10%;
        border-bottom: 2px solid #C1C1C1;
        font-size: 21px;
    }
    .header_navigation{
        column-gap: 16px;
    }
    .bl_for_header_describe{
        border-bottom: 2px solid white;
    }

    .header_describe_email, .header_describe_name, .header_describe_number{
        font-size:19px;
    }

    footer{
        height: 9%;
        border-top: 3px solid #C1C1C1;
        font-size: 22px;
    }
    .footer_describe{
        font-size: 19px;
        line-height: 28px;
    }
    .footer_geo{
        font-size: 19px;
        line-height: 28px;
        width: 27%;
        border-top: 2px solid white;
    }
    .talgan19{
        font-size: 21px;
        line-height: 25px;
    }

    .production_block_text{
        font-size: 23px;
        line-height: 55px;       
    }
    .production_block_picture1{
        width: 95%;
    }
    .production_block_picture2{
        width: 65%;
    }
    .production_block_picture3{
        width: 70%;
    }

 }
 @media (min-width: 1580px) and (max-width: 1600px) {
    header{
        height: 10%;
        border-bottom: 2px solid #C1C1C1;
        font-size: 22px;
    }
    .header_navigation{
        column-gap: 16px;
    }
    .bl_for_header_describe{
        border-bottom: 2px solid white;
    }

    .header_describe_email, .header_describe_name, .header_describe_number{
        font-size:20px;
    }

    footer{
        height: 9%;
        border-top: 3px solid #C1C1C1;
        font-size: 22px;
    }
    .footer_describe{
        font-size: 20px;
        line-height: 30px;
    }
    .footer_geo{
        font-size: 20px;
        line-height: 30px;
        width: 30%;
        border-top: 2px solid white;
    }
    .talgan19{
        font-size: 21px;
        line-height: 25px;
    }

    .production_block_text{
        font-size: 24px;
        line-height: 55px;       
    }
    .production_block_picture1{
        width: 95%;
    }
    .production_block_picture2{
        width: 65%;
    }
    .production_block_picture3{
        width: 70%;
    }

 }
 @media (min-width: 1200px) and (max-width: 1300px) {
    header{
        height: 8%;
        border-bottom: 2px solid #C1C1C1;
        font-size: 18px;
    }
    .header_navigation{
        column-gap: 12px;
    }
    .bl_for_header_describe{
        border-bottom: 2px solid white;
    }

    .header_describe_email, .header_describe_name, .header_describe_number{
        font-size:16px;
    }

    footer{
        height: 9%;
        border-top: 3px solid #C1C1C1;
        font-size: 18px;
    }
    .footer_describe{
        font-size: 16px;
        line-height: 25px;
    }
    .footer_geo{
        font-size: 16px;
        line-height: 25px;
        width: 20%;
        border-top: 2px solid white;
    }
    .talgan19{
        font-size: 21px;
        line-height: 25px;
    }

    .production_block_text{
        font-size: 20px;
        line-height: 45px;       
    }
    .production_block_picture1{
        width: 95%;
    }
    .production_block_picture2{
        width: 65%;
    }
    .production_block_picture3{
        width: 70%;
    }
 }
 @media (min-width: 1000px) and (max-width: 1050px) {
    header{
        height: 9%;
        border-bottom: 2px solid #C1C1C1;
        font-size: 15px;
        z-index: 3;
    }
    .header_navigation{
        column-gap: 8px;
        width: 50%;
    }
    .bl_for_header_describe{
        border-bottom: 2px solid white;
        z-index: 1;
    }

    .header_describe_email, .header_describe_name, .header_describe_number{
        font-size:14px;
    }

    footer{
        height: 9%;
        border-top: 2px solid #C1C1C1;
        font-size: 18px;
    }
    .footer_describe{
        font-size: 12px;
        line-height: 20px;
    }
    .footer_geo{
        font-size: 12px;
        line-height: 20px;
        width: 20%;
        border-top: 2px solid white;
    }
    .talgan19{
        font-size: 14px;
        line-height: 22px;
    } 
    .production_block_text{
        font-size: 16px;
        line-height: 30px;       
    }
    .production_block_picture1{
        width: 95%;
    }
    .production_block_picture2{
        width: 65%;
    }
    .production_block_picture3{
        width: 70%;
    }

 }

 @media (min-width: 310px) and (max-width:600px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height:100%;
        border-bottom: 0px;
        background: linear-gradient(90deg, rgba(18, 211, 101, 0.98) 22.4%, rgba(26, 211, 105, 0.935111) 47.92%, rgba(54, 208, 120, 0.77918) 81.77%, rgba(140, 228, 178, 0.447307) 99.99%, rgba(255, 255, 255, 0) 100%);
        font-size: 18px;
        z-index: 2;
        position: absolute;
        top:0;
        left: -100%;
        margin-left: 0px;
    }
    .header_navigation{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        left: 5%;
        top:10%;
        width: 50%;
        row-gap: 15px;
        
    }
    .header_navigation :nth-child(n){
        margin-left: 0;
    }
    
    .bl_for_header_describe{
        justify-content: flex-start;
        align-items: flex-end;
        width:100%;
        position: relative;
        left: 3%;
    }
    .header_describe{
        margin-bottom: 5%;
    }
    
    .header_describe_name{
        text-align: left;
    }
    .background{
        position: absolute;
        top:-40%;
        right: 0px;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
    }
    
    .nav_menu{
        width:100%;
        height: auto;
        position: fixed;
        left: 3%;
        top: 2%;
        margin-bottom: 5%;
    }
    .nav_menu_img{
        height: auto;
    }
 
    .nav_menu_img_arrow{
        position: absolute;
        right: 3%;
        top:3%;
    }
    .header_navigation{
       color:white;
    }
   .header_navigation{
      color:white;
   }
   .a_about{
       color:white;
      text-decoration:underline 1px white;
   }
    footer{
    width: 96%;
    margin-left: -48%;
    height: 12%;
    border-top:0;
}
    .footer_describe{
    display:none;
}
    .footer_geo{
     display:none;
}

    .footer_social_icon{
    height: 70%;
    width: auto;
}
    .talgan19{
    margin-top:10%;
    margin-bottom:3%;
    font-size: 18px;
    line-height: 25px;
}
    .production_block{
    display: flex;
    /* flex-direction: column; */
    flex-flow:column-reverse;
    justify-content: space-between;
    
    position: relative;
    left: 50%;
    margin-left: -48%;
    width: 96%;
    height: auto;
    z-index: 1;
    row-gap: 15px;
    margin-top:20%;
}
    .production_block_leftblock, .production_block_rightblock{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 50%;
}
    .production_block_leftblock{
    display: flex;
    justify-content:center;
    width: 100%;
}
    .production_block_rightblock{
    display: flex;
    justify-content: center;
    align-items: center;
}

   .production_block2
   {
    flex-flow:column;
    margin-top:8%;
}
   .production_block3{
    margin-top:8%;
   }
    .production_block_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    
}
    .production_block_picture1{
    width: 95%;
}
    .production_block_picture2{
    width: 50%;
}
  .production_block_picture3{
    width: 60%;
}
}