html, body{
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 12%;
    border-bottom: 2px solid #C1C1C1;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    z-index: 1;
    position: relative;
    left: 50%;
    margin-left: -46%;
}
.header_navigation{
    display:flex;
    height: 100%;
    width: 50%;
    align-items: center;
    column-gap: 20px;
}
.header_navigation :nth-child(n){
    margin-left: 3%;
}
.header_navigation :first-child{
    margin-left: 0;
}
a{
    text-decoration: none;
    color:black;
}
.bl_for_header_describe{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    border-bottom: 2px solid white;
}
.header_describe{
    display:grid;
    grid-template-areas: 
    "header_describe_number header_describe_email "
    "header_describe_name header_describe_name";
    grid-row-gap:5px;
    grid-column-gap:15px;
    text-align: right;
}
.header_describe_email{
    font-size:16px;
    grid-area: header_describe_email;
}
.header_describe_number{
    font-size:16px;
    grid-area: header_describe_number;
}
.header_describe_name{
    font-size:16px;
    grid-area: header_describe_name;
}
.background{
    position: absolute;
    top:0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 12%;
    border-top: 2px solid #C1C1C1;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    z-index: 1;
    position: relative;
    left: 50%;
    margin-left: -46%;
    padding-bottom: 2%;
}
.footer_describe{
    display:flex;
    align-items:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    height: 100%;
}
.footer_geo{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;
    width: 36%;
    height: 100%;
    border-top: 2px solid white;
}
.footer_social{
    position: absolute;
    left: 50%;
    margin-left: -10%;
    height: 100%;
    width: 20%;
}
.footer_social_block_for_icon{
    width: 100%;
    height: 70%;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    column-gap:15px;
}
.footer_social_icon{
    
    height: 55%;
    width: auto;
}
.talgan19{
    margin-top:5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}
article{
    margin-top:5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    
}
.select_product_container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:4%;
    width: 100%;
    height: 85%;
    margin-bottom:5%;
}
.select_product{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 45px;
    width: 28%;
    height: 100%;
    background-color: rgba(6, 150, 69, 1);
    position: relative;
}
.select_product_title{
    margin-top:5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color:rgba(237, 237, 237, 1);
}
.select_product_button{
    background: rgba(250, 248, 248, 1);
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 13px;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding-bottom:1.8%;
    padding-top: 1.8%;
    margin-bottom: 5%;
    cursor: pointer;
    transition:0.5s ease;
}
.select_product_button:hover{
 transition: 0.5s ease;
 box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.35);
 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
 background: #383838;
 color: rgba(233, 233, 233, 1);

}
.select_product_imagecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
    height: 70%;
}
.select_product_image{
    /* position:absolute; */
    width:65%;
    position: relative;
    
}
.image1{
    z-index: 1;
}
.image2{
  left: -25%;
  top:-5%;
  z-index: 0;
} 

.helpful{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:5%;
    height: 45%;
    width: 92%;
    position: relative;
    left: 50%;
    margin-left: -46%;
    background: #08C95B;
    border-radius: 100px

}

.helpful_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 75%;
}
.helpful_container_describe{
    height: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.helpful_container_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    /* width:100%; */
    border-radius: 50%;
    background-color: white;
}

.helpful_picture{
    height: 70%;
}
 .helpful_container_first{
 margin-left: 3%;
}
.helpful_container_last{
    margin-right: 3%;
}

.achievements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 92%;
    position: relative;
    left: 50%;
    margin-left: -46%;
    background: #08C95B;
    margin-top:5%;
    margin-bottom:5%;
    border-radius: 100px
}
.achievemets_row{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap:40px;
    height: 45%;
    width: 90%;
}
.achievemets_row_point{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}
.achievemets_row_point_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    
}
.achievemets_row_point_imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}
.achievemets_row_point_image{
    height: 100%;
}